@page
@model Group_Project_FamilyTree.Pages.EventPage.CreateModel
@{
    ViewData["Title"] = "Event";
}

<h1>Create Event</h1>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" asp-page-handler="Event">
                <label asp-for="Event.Id" class="control-label"></label>
                <input asp-for="Event.Id" class="form-control" />
                <span asp-validation-for="Event.Id" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Event.Title" class="control-label"></label>
                <input asp-for="Event.Title" class="form-control" />
                <span asp-validation-for="Event.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.CreateDate" class="control-label"></label>
                <input asp-for="Event.CreateDate" class="form-control" />
                <span asp-validation-for="Event.CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.OrganizeDate" class="control-label"></label>
                <input asp-for="Event.OrganizeDate" class="form-control" />
                <span asp-validation-for="Event.OrganizeDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.FamilyId" class="control-label"></label>
                <input asp-for="Event.FamilyId" class="form-control" />
                <span asp-validation-for="Event.FamilyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.ServiceId" class="control-label"></label>
                <input asp-for="Event.ServiceId" class="form-control" />
                <span asp-validation-for="Event.ServiceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.LocationId" class="control-label"></label>
                <input asp-for="Event.LocationId" class="form-control" />
                <span asp-validation-for="Event.LocationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.LocationPrice" class="control-label"></label>
                <input asp-for="Event.LocationPrice" class="form-control" />
                <span asp-validation-for="Event.LocationPrice" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>
