@page
@model Group_Project_FamilyTree.Pages.AdminPage.ViewFamilyTreeModel

@{
    ViewData["Title"] = "Family Tree";
}

<h1>Family Tree</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Family[0].Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Family) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                <a asp-page="/FamilyPage/FamilyTree" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
